<div class="card">
  <h2 class="card-header">New Friend</h2>
  <div class="card-body">
    <%= render 'form', friend: @friend %>
  </div>
</div>

<br/>
<%= link_to 'Back', friends_path, class:"btn btn-dark btn-sm" %>
